@import "../../constants.scss";

.link {
  margin-bottom: 8px;
}

button {
  width: auto;
}

form button {
  margin-left: auto;
}

@media (max-width: $small-screen-width) {
  a {
    font-family: $font-condensed
  }
}