<div *ngIf="song">
  <div class="link" *ngFor="let link of links">
    <button mat-button *ngIf="showEdit" color="warn" (click)="deleteLink(link.id)">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
    <a [href]="link.url" target="_blank">{{link.description}}</a>
  </div>
  <form *ngIf="showEdit" #newLinkForm="ngForm" name="newLinkForm">
    <mat-form-field>
      <input
        matInput
        placeholder="URL"
        name="url"
        pattern="https?://.+\..+"
        [(ngModel)]="newLinkURL"
        required
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="description"
        name="description"
        [(ngModel)]="newLinkDescription"
        required
      >
    </mat-form-field>
    <button
      mat-flat-button
      color="accent"
      type="submit"
      (click)="addLink()"
      [disabled]="newLinkForm.invalid"
    >
      Add Link
    </button>
  </form>
</div>