@import "../constants.scss";

$navbar-height: 60px;

#app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: $margin-size;
}

#navbar {
    height: $navbar-height;
}

#main-content {
    padding-top: $margin-size;
    padding-left: $margin-size;
    padding-right: $margin-size;
    flex-grow: 1;
    overflow: auto;
}
