@import "../constants.scss";

$navbar-height: 60px;

#navbar {
    height: $navbar-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#main-content:nth-child(2) {
    margin-top: $navbar-height;
}

#main-content {
    padding: $margin-size;
}