mat-card-title {
  display: flex !important;
  justify-content: space-between;
  align-items: flex-start;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button:last-child {
  margin-left: auto;
}

span.role {
  display: inline-block;
  color: gray;
  font-size: 50%;
}