<div class="card-grid">
  <mat-card *ngFor="let user of users">
    <mat-card-title>
      <span>{{user.username}}</span>
      <span class="role">{{userRole(user)}}</span>
    </mat-card-title>
    <mat-card-actions class="font-condensed">
    
      <button mat-button (click)="resetPassword(user.id)" mat-button color="accent" class="mat-small">
        Reset PW
      </button>

      <button *ngIf="!user.admin && user.active" (click)="setAdmin(user.id, true)" mat-button color="accent" class="mat-small">
        Admin
      </button>
      <button *ngIf="user.admin" (click)="setAdmin(user.id, false)" mat-button color="accent" class="mat-small">
        Active
      </button>
      <button *ngIf="!user.admin && !user.active" (click)="setActive(user.id, true)" mat-button color="accent" class="mat-small">
        Active
      </button>
      <button *ngIf="!user.admin && user.active" (click)="setActive(user.id, false)" mat-button color="accent" class="mat-small">
        Inactive
      </button>

      <button (click)="delete(user.id)" mat-button color="warn" class="mat-small">
        Delete
      </button>

    </mat-card-actions>
  </mat-card>
</div>
