<div class="centered-page">
  <img
    src="assets/s2.svg"
    alt="Cross Products"
    id="login-logo"
  >
  <h1>Cross Products</h1>
  <h2>{{season}} Song Suggestions</h2>
  
  <form #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        name="username"
        [(ngModel)]="username"
        required
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="password"
        required
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="login()"
    >
      Log In
    </button>
  </form>
</div>