<div class="stack center">
  <h1>Suggest Song</h1>

  <p class="tip">Please search for the song first.</p>

  <form #newSongForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        name="title"
        [(ngModel)]="title"
        required
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Artist"
        name="artist"
        [(ngModel)]="artist"
        required
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="submit()"
    >
      Suggest Song
    </button>
  </form>
</div>