
<div class="stack" *ngIf="song && currentUser">

  <div class="top-row">
    <div>
      <h1 *ngIf="!editing" id="title" class="bold">{{song.title}}</h1>
      <mat-form-field *ngIf="editing">
        <input matInput [(ngModel)]="title" placeholder="Title" name="title" required>
      </mat-form-field>
      <h2 *ngIf="!editing">by <span class="bold">{{song.artist}}</span></h2>
      <mat-form-field *ngIf="editing">
        <input matInput [(ngModel)]="artist" placeholder="Artist" name="artist" required>
      </mat-form-field>
      <div *ngIf="!song.suggestor" id="suggest">
        <button mat-flat-button color="accent" (click)="setSuggested(true)">Suggest</button>
      </div>
    </div>
    <div class="controls">
      <button *ngIf="!editing" mat-button color="accent" (click)="edit()">Edit</button>
      <button *ngIf="!editing && !song.suggestor" mat-button color="warn" (click)="delete()">Delete</button>
      <button *ngIf="editing" mat-flat-button color="accent" (click)="save()">Save</button>
      <button *ngIf="editing" mat-flat-button color="primary" (click)="cancel()">Cancel</button>
      <button *ngIf="!editing && song.suggestor == currentUser.username" mat-button color="warn" (click)="setSuggested(false)">Unsuggest</button>
    </div>
  </div>


  <div *ngIf="song.suggestor">
    <h3>Suggested by <span class="bold">{{song.suggestor}}</span></h3>
    <div id="rating">
      <star-rating
        [rating]="song.myRating || 0"
        (starClickChange)="onRatingChange($event)"
      ></star-rating>
    </div>
  </div>

  <h3>Lyrics:</h3>
  <form *ngIf="editing" class="lyrics" style="margin-bottom: 25px;">
    <textarea [(ngModel)]="lyrics" name="lyrics"></textarea>
  </form>
  <pre *ngIf="!editing" class="lyrics">
    {{song.lyrics}}
  </pre>
</div>