#app-root {
    width: 100%;
}

$navbar-height: 100px;
#navbar {
    height: $navbar-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#main-content {
    margin-top: $navbar-height;
}