<div *ngIf="user" style="height:100%">
  <mat-toolbar>
    <a mat-button routerLink="filter" *ngIf="showFilters()">
      <mat-icon>filter_list</mat-icon>
    </a>
    <a mat-button routerLink="add-song" *ngIf="showFilters()">
      <mat-icon>library_add</mat-icon>
    </a>
    <button mat-button *ngIf="showHome()" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
      <span id="to-songs">To Songs</span>
    </button>
    <img
      routerLink="/songs"
      [queryParams]="{suggested: '1'}"
      src="assets/images/s2.svg"
      alt="s2"
      id="navbar-logo"
    >
    <button mat-button class="right" [matMenuTriggerFor]="accountMenu">
      <span id="user" *ngIf="user">{{user.username}}</span>
      <mat-icon>account_box</mat-icon>
    </button>
  </mat-toolbar>

  <!-- mat-menu does not render anything -->
  <mat-menu #accountMenu="matMenu" [overlapTrigger]="false">
    <a mat-menu-item routerLink="/account">Account</a>
    <a mat-menu-item routerLink="/add-user" *ngIf="user.admin">Add User</a>
    <a mat-menu-item routerLink="/users" *ngIf="user.admin">Manage Users</a>
    <a mat-menu-item routerLink="/group" *ngIf="user.admin">Manage Group</a>
    <a mat-menu-item (click)="logout()">Logout</a>
  </mat-menu>
</div>