<div class="centered-page">
  <form>
    <h1>Edit Deadlines</h1>
    <mat-form-field>
      <input matInput [matDatepicker]="suggestDeadline" placeholder="Suggest Deadline"
        name="suggestDeadline" [(ngModel)]="newSuggestDeadline">
      <mat-datepicker-toggle matSuffix [for]="suggestDeadline"></mat-datepicker-toggle>
      <mat-datepicker #suggestDeadline></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="voteDeadline" placeholder="Vote Deadline"
        name="voteDeadline" [(ngModel)]="newVoteDeadline">
      <mat-datepicker-toggle matSuffix [for]="voteDeadline"></mat-datepicker-toggle>
      <mat-datepicker #voteDeadline></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="edit()"
    >
      Save
    </button>
  </form>
</div>