<div class="stack center">
  <form>
    <h1>Edit Deadlines</h1>
    <p class="tip">Beginning on the day, people will no longer be able to complete the action.</p>
    <mat-form-field>
      <input matInput [matDatepicker]="suggestDeadline" placeholder="Suggest Deadline"
        name="suggestDeadline" [(ngModel)]="newSuggestDeadline">
      <mat-datepicker-toggle matSuffix [for]="suggestDeadline"></mat-datepicker-toggle>
      <mat-datepicker #suggestDeadline></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="rateDeadline" placeholder="Rate Deadline"
        name="rateDeadline" [(ngModel)]="newRateDeadline">
      <mat-datepicker-toggle matSuffix [for]="rateDeadline"></mat-datepicker-toggle>
      <mat-datepicker #rateDeadline></mat-datepicker>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="edit()"
    >
      Save
    </button>
  </form>
</div>