$font-primary: 'Raleway', sans-serif !important;
$font-condensed: 'BenchNine', sans-serif !important;
$margin-size: 16px;
$navbar-height: 60px;
$logo-aspect-ratio: 400/359.68992248062017;
$max-width: 800px;
$small-screen-width: 600px;