/* You can add global styles to this file, and also import other style files */
@import "./constants.scss";
@import "./theme.scss";
@import "~css-star-rating/scss/star-rating";
$maxNumOfStars: 7;

* {
  box-sizing: border-box;
}

*:not(mat-icon) {
  font-family: $font-primary;
  font-weight: 400;
}

.font-condensed {
  font-family: $font-condensed;
}

.font-condensed * {
  font-family: $font-condensed;
}

button:hover, .button:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

html {
  background: hsla(0, 30%, 90%, 1);
}

body {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

mat-radio-group {
  @extend .stack;
  align-items: flex-start;
}

mat-radio-group > mat-radio-button {
  margin: 4px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px - 2 * $margin-size, 1fr));
  grid-gap: $margin-size;
}

.stack {
  display: flex;
  flex-direction: column;
}

.stack.center {
  align-items: center;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.tip {
  font-weight: lighter;
  font-size: 125%;
}

/* override 3rd-party component styles */
.mat-snack-bar-container {
  min-width: 0 !important;
}

.rating {
  justify-content: flex-start;
  width: fit-content;
}

.star-container {
  margin: 0;
}