<div class="stack center">
  <h1>Find Songs</h1>

  <form #filterForm="ngForm" class="stack center">
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        name="title"
        [(ngModel)]="filter.title"
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Artist"
        name="artist"
        [(ngModel)]="filter.artist"
      >
    </mat-form-field>

    <div class="mat-form-field">
      <app-tri-state-checkbox [(ngModel)]="filter.suggested" name="suggested">Suggested</app-tri-state-checkbox>
    </div>

    <div class="mat-form-field">
      <app-tri-state-checkbox [(ngModel)]="filter.arranged" name="arranged">Arranged</app-tri-state-checkbox>
    </div>

    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Suggestor"
        name="suggestor"
        [(ngModel)]="filter.suggestor"
      >
    </mat-form-field> -->

    <mat-form-field>
      <mat-select placeholder="Sort by" [(ngModel)]="filter.sort" name="sort">
        <mat-option *ngFor="let option of SortOptions" [value]="option[1]">
          {{option[0]}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="submit()"
    >
      Find Songs
    </button>
  </form>
</div>