/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

* {
  box-sizing: border-box;
}

*:not(mat-icon) {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
}

body {
  background: hsla(0, 30%, 90%, 1);
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

mat-radio-group > mat-radio-button {
  margin: 0.25em;
}

.mat-snack-bar-container {
  min-width: 0 !important;
}

.centered-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0.5em;
}
