/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

* {
  box-sizing: border-box;
}

*:not(mat-icon) {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

mat-radio-group > mat-radio-button {
  margin: 0.25em;
}
