<mat-card
  *ngIf="song"
  (click)="navigate()"
  class="darken-on-hover"
  matBadge="|"
  matBadgePosition="above after"
  matBadgeSize="small"
  matBadgeColor="accent"
  [matBadgeHidden]="song.lastViewed >= song.lastEdited"
>
  <mat-card-title class="font-condensed">{{song.title}}</mat-card-title>
  <mat-card-subtitle>{{song.artist}}</mat-card-subtitle>
  <mat-card-content *ngIf="song.suggestor">
    <div id="suggestor">{{song.suggestor}}</div>
    <star-rating 
      *ngIf="showRating"
      [rating]="song.myRating || 0"
      [readOnly]="true"
    ></star-rating>
  </mat-card-content>
  <mat-card-content *ngIf="!song.suggestor">
    <div>Not suggested.</div>
  </mat-card-content>
</mat-card>